<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- corefxlab is needed by dotnet-link, and restoring linker.sln
         will only find this source if it's added in the global
         NuGet.Config (this is probably a nuget bug:
         https://github.com/NuGet/Home/issues/4944) -->
    <add key="dotnet-corefxlab" value="https://dotnet.myget.org/F/dotnet-corefxlab/api/v3/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
</packageSources>
</configuration>
